.activity-wrap {
  margin-top: 75px;
  .activity-header {
  }
  .activity-year {
    .read-books,
    .actual-rank {
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
      font-size: 16px;
    }
  }
}
