.fav-book-container {
  padding: 10px;

  &:first-child {
    padding-left: 0;
  }
  .fav-book-wrap {
    .fav-book {
      display: flex;
      align-items: center;
      .book-img {
        width: 40px;
        height: 60px;
        border: 1px solid #000;
      }

      .book-details {
        margin-left: 5px;
        .book-title {
          font-size: 16px;
        }
        .book-category {
          font-size: 14px;
        }
      }
    }
  }
}
