.goals-container {
  display: flex;

  .goal-container {
    padding: 10px;

    &:first-child {
      padding-left: 0px;
    }

    .goal-wrap {
      width: 230px;
      border: 1px solid #000;
      padding: 10px;

      .goal-header {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        .header-text {
          color: #387bfd;
        }
      }

      .goal-body {
        text-align: center;
        margin-top: 10px;

        .goal-text,
        .goal-progress,
        .goal-year {
          padding: 5px 0;
        }

        .goal-text {
          font-size: 24px;
          font-weight: 600;
        }
        .goal-progress {
          .progress-component {
            img {
              height: 86px;
            }
          }
        }
        .goal-year {
          font-size: 1.4rem;
          color: gray;
        }
      }
    }
  }
}
