.form-container {
  border: 1px solid #000;
  max-width: 1280px;

  .form-wrap {
    max-width: 1024px;
    margin: auto;
    padding: 20px;
    .form {
      display: flex;
      align-items: center;
      // FORM
      .book-form {
        display: flex;
        align-items: center;

        .field-image-wrap {
          height: 200px;
          width: 150px;
          background-color: gray;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          .image {
            height: 48px;
          }

          .hidden-input {
            height: 200px;
            width: 150px;
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
        }

        .field-wrap {
          margin-left: 15px;

          .field-label {
            font-weight: 600;
            font-size: 1.4rem;
          }

          .field-input {
            padding-top: 10px;
          }
        }
      }

      // FORMAT BUTTONS
      .format-buttons-wrap {
        margin-left: 150px;

        .format-button {
          button {
            text-align: left;
            width: 150px;
            padding: 10px;

            &.focus {
              background-color: #f2f2f2;
              border-bottom: 1px solid gray;
            }

            &:hover {
              background-color: #f2f2f2;
            }
          }
        }
      }

      // STOCK AND PRICE CONTAINER
      .inputs-container {
        height: 100%;
        border: 1px solid #000;
        display: flex;
        // STOCK _STOCK.SCSS
        @import "./stock";
        // PRICE _PRICE.SCSS
        @import "./_price.scss";
      }
    }

    .form-button {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      button {
        font-size: 1.4rem;
        font-weight: 600;
        padding: 15px 100px;
      }
    }
  }
}
