.title {
  margin-bottom: 5rem;
  font-size: 2rem;
}

.desc-title {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.c-button {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

input {
  border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

header {
  width: 100%;
  max-width: 100vw;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 12px rgba(26, 25, 25, 0.08);
          box-shadow: 0 1px 12px rgba(26, 25, 25, 0.08);
  position: fixed;
  z-index: 1 !important;
}

.nav-mt {
  height: 10vh;
}

.nav {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .c-left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .c-center-nav {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.nav .c-center-nav .nav-search-container .nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav .c-center-nav .nav-search-container .nav-search .nav-search-input {
  width: 100%;
}

.nav .c-center-nav .nav-search-container .nav-search .nav-search-input .search-label {
  font-size: 1rem;
  letter-spacing: 0.45px;
  margin-bottom: 0;
  padding-left: 5px;
  position: absolute;
  -webkit-transform: translate(0, 16px) scale(1);
          transform: translate(0, 16px) scale(1);
  color: rgba(49, 49, 49, 0.5);
  pointer-events: none;
}

.nav .c-center-nav .nav-search-container .nav-search .nav-search-input .search-input {
  font-size: 1.2rem;
  height: 30px;
  width: 100%;
  -webkit-appearance: none;
  background: transparent !important;
  border: none;
  border-bottom: 1px solid gray;
  color: black;
  margin-top: 3px;
  padding-top: 10px;
  outline: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nav .c-center-nav .nav-search-container .nav-search .nav-search-icon {
  position: absolute;
  padding-top: 10px;
  padding-right: 5px;
  right: 0;
}

.nav .c-center-nav .nav-search-container .nav-search .nav-search-icon img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 14px;
}

.nav .right-nav .icon {
  cursor: pointer;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.nav ul li {
  margin-left: 2rem;
}

.nav .mobile-left-nav,
.nav .mobile-right-nav {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav .right-nav {
    background-color: yellow;
    width: 40%;
    height: 20vh;
    position: absolute;
    top: 8rem;
    right: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav .right-nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .r-active {
    right: 0;
  }
  .nav .mobile-right-nav {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .nav .left-nav {
    background-color: yellow;
    width: 40%;
    height: 20vh;
    position: absolute;
    top: 8rem;
    left: -100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav .left-nav ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .l-active {
    left: 0;
    -webkit-transition: all 0, 5s ease-in;
    transition: all 0, 5s ease-in;
  }
  .nav .mobile-left-nav {
    display: block;
  }
}

.container-fw.footer {
  border-top: 1px solid gray;
}

.container-fw.footer .container-mt {
  margin-top: 0 !important;
}

.container-fw.footer .container-mt .footer-container {
  max-width: 1420px;
  padding: 0 24px;
  margin: auto;
  padding-top: 40px;
}

.container-fw.footer .container-mt .footer-container .footer-items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-fw.footer .container-mt .footer-container .footer-items-container .footer-item .footer-item-title {
  font-weight: 600;
}

.container-fw.footer .container-mt .footer-container .footer-items-container .footer-item ul {
  margin-top: 15px;
}

.container-fw.footer .container-mt .footer-container .footer-items-container .footer-item ul li {
  padding: 3px 0;
}

.container-fw.footer .container-mt .footer-container .footer-items-container .footer-item ul li a {
  font-size: 1.5rem;
}

.container-fw.footer .container-mt .footer-container .local-copyright {
  margin-top: 40px;
  padding-bottom: 10px;
}

.container-fw.footer .container-mt .footer-container .local-copyright small {
  font-size: 1.2rem;
}

.container-fw.hero {
  position: relative;
  z-index: 0 !important;
}

.container-fw.hero .background-img {
  height: 80vh;
}

.container-fw.hero .background-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

.container-fw.hero .container-basic {
  height: 80vh;
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-fw.hero .container-basic .container-hero .hero-wrap {
  padding: 150px 50px;
}

.container-fw.hero .container-basic .container-hero .hero-wrap .hero-title {
  font-size: 5.2rem;
  line-height: 4.5rem;
  letter-spacing: 0.3px;
  color: #fff;
  margin-bottom: 25px;
}

.container-fw.hero .container-basic .container-hero .hero-wrap .hero-button {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 7px 20px;
  background-color: #fff;
  color: #000;
}

.container-fw.hero .container-basic .container-hero .hero-wrap .hero-button span {
  font-size: 1.4rem;
  letter-spacing: 0.2px;
}

.container-fw.potential {
  background-color: #000;
}

.container-fw.potential .container-basic .potential-container {
  color: #fff;
  padding: 50px 0;
}

.container-fw.potential .container-basic .potential-container .title {
  padding-left: 10px;
}

.container-fw.potential .container-basic .potential-container .potential-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-fw.potential .container-basic .potential-container .potential-flex .potential-card {
  min-width: 500px;
  margin-top: 20px;
  padding: 0 10px;
  color: #fff;
}

.container-fw.potential .container-basic .potential-container .potential-flex .potential-card .card-img {
  width: 100%;
}

.container-fw.potential .container-basic .potential-container .potential-flex .potential-card .card-img img {
  min-width: 100%;
  height: 500px;
  border-radius: 8px;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

.container-fw.potential .container-basic .potential-container .potential-flex .potential-card .card-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-fw.potential .container-basic .potential-container .potential-flex .potential-card .card-details .desc {
  font-size: 1.6rem;
  padding-top: 5px;
}

.container {
  width: 100%;
  margin-top: 100px;
}

.container .items-container {
  padding-top: 20px;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .items-container .item {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  padding: 20px 20px;
  padding-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 3px #e9ece9;
          box-shadow: 1px 1px 5px 3px #e9ece9;
}

.container .items-container .item:last-child {
  margin-right: 0;
}

.container .items-container .item:hover {
  cursor: pointer;
}

.container .items-container .item .item-img img {
  width: 175px;
  height: 225px;
}

.container .items-container .item .item-details {
  margin-left: 20px;
}

.container .items-container .item .item-details .details-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .items-container .item .item-details h3 {
  margin-bottom: 20px;
}

.container .items-container .item .item-details p {
  padding: 0.7px 0;
}

.container .c-button {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container .c-button .button {
  border: 1px solid #000;
  padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
  .item {
    text-align: center;
    background-color: red;
  }
}

.container-fw.local {
  border-top: 1px solid gray;
}

.container-fw.local .local-container .local-destacable-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}

.container-fw.local .local-container .local-destacable-container .local-destacable {
  text-align: center;
}

.container-fw.local .local-container .local-destacable-container .local-destacable .destacable-img img {
  height: 75px;
}

.container-fw.local .local-container .local-destacable-container .local-destacable .destacable-text {
  font-weight: 600;
}

.auth-container {
  max-width: 1080px;
  padding: 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.auth-container .auth-img-container,
.auth-container .main-auth-form {
  width: 580px;
  height: 500px;
}

.auth-container .auth-img-container .auth-img {
  width: 400px;
  height: 100%;
}

.auth-container .auth-form {
  margin-left: 50px;
}

.auth-container .auth-form .main-auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth-container .auth-form .main-auth-form .auth-form-header {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: center;
}

.auth-container .auth-form .auth-buttons button {
  width: 100%;
  border: 2px solid gray;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 15px;
}

.auth-container .auth-form .auth-buttons button:hover {
  border: 2px solid black;
}

.auth-container .auth-form .auth-buttons button .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-container .auth-form .auth-buttons button .button-container .button-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-container .auth-form .auth-buttons button .button-container .button-img img {
  height: 20px;
}

.auth-container .auth-form .auth-buttons button .button-container .button-text {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 0% !important;
          flex: 1 1 0% !important;
}

.auth-container .auth-texts {
  margin-top: 20px;
}

.auth-container .auth-texts .text {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.auth-container .auth-texts .text .text-bold {
  font-size: 1.6rem;
  margin-left: 5px;
  font-weight: 600;
}

.books-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.books-container .item-book-container {
  padding: 10px 5px;
}

.books-container .item-book-container .card-book {
  -webkit-box-shadow: 2px 5px 10px 1px #c4c3c3;
          box-shadow: 2px 5px 10px 1px #c4c3c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 20px;
}

.books-container .item-book-container .card-book .item-book {
  width: 150px;
  min-height: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.books-container .item-book-container .card-book .item-book .card-book-img {
  height: 65%;
}

.books-container .item-book-container .card-book .item-book .card-book-img img {
  width: 150px;
  height: 200px;
}

.books-container .item-book-container .card-book .item-book .card-book-details {
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.books-container .item-book-container .card-book .item-book .card-book-details .first-details {
  height: 80%;
}

.books-container .item-book-container .card-book .item-book .card-book-details .first-details .book.title,
.books-container .item-book-container .card-book .item-book .card-book-details .first-details .book-author,
.books-container .item-book-container .card-book .item-book .card-book-details .first-details .book-ratio {
  padding-top: 5px;
}

.books-container .item-book-container .card-book .item-book .card-book-details .first-details .book-title {
  margin-top: 5px;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

.books-container .item-book-container .card-book .item-book .card-book-details .first-details .book-author {
  font-size: 1.6rem;
  text-align: left;
}

.books-container .item-book-container .card-book .item-book .card-book-details .first-details .book-ratio {
  font-size: 1.4rem;
}

.books-container .item-book-container .card-book .item-book .card-book-details .second-details {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.books-container .item-book-container .card-book .item-book .card-book-details .second-details .book-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5rem;
}

.book-container {
  max-width: 1480px;
  padding-right: 24px;
  padding-left: 24px;
  margin: auto;
  min-height: 70vh;
}

.book-container .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-container .book .book-left .book-img {
  width: 225px;
  height: 325px;
}

.book-container .book .book-left .author-follow {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-container .book .book-left .author-follow .author-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.book-container .book .book-left .author-follow .author-actions {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book-container .book .book-left .author-follow .author-actions p {
  font-weight: 600;
}

.book-container .book .book-left .author-follow .author-actions button {
  width: 100px;
  border: 1px solid black;
  border-radius: 0;
  margin-top: 10px;
  padding: 5px;
}

.book-container .book .book-details {
  max-width: 850px;
  margin: 0 50px;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.book-container .book .book-details .details-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book-container .book .book-details .details-header .book-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

.book-container .book .book-details .book-author {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.book-container .book .book-details .book-type-container {
  margin-top: 20px;
  border-top: 1px solid gray;
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-container .book .book-details .book-type-container .book-type {
  width: 33.3333%;
  padding: 5px 10px;
  margin-top: 30px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
}

.book-container .book .book-details .book-type-container .book-type p {
  font-size: 1.5rem;
}

.book-container .book .book-details .book-type-container .book-type .type-price {
  color: gray;
  letter-spacing: 0.3px;
}

.book-container .book .book-details .summary {
  max-width: 75%;
  margin-top: 50px;
}

.book-container .book .book-details .summary .summary-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.book-container .book .book-actions {
  border-left: 1px solid gray;
  padding-left: 20px;
}

.book-container .book .book-actions .book-price {
  font-size: 2.5rem;
  font-weight: 600;
}

.book-container .book .book-actions .book-library {
  margin-top: 30px;
}

.book-container .book .book-actions .book-library .book-library-label {
  font-weight: 600;
}

.book-container .book .book-actions .book-library .book-library-container {
  margin-top: 15px;
}

.book-container .book .book-actions .book-library .book-library-container .book-library-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book-container .book .book-actions .book-library .book-library-container .book-library-flex .book-library-img img {
  margin-top: 5px;
  width: 75px;
  height: 75px;
}

.book-container .book .book-actions .book-library .book-library-container .book-library-flex .book-library-details .book-library-name {
  font-size: 1.8rem;
  font-weight: 600;
}

.book-container .book .book-actions .book-library .book-library-container .book-library-flex .book-library-details .library-details-address .first-address {
  font-size: 1.4rem;
}

.about-author-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-author-container .about-author-left {
  padding-right: 70px;
}

.about-author-container .about-author-left .about-author-left-title {
  font-size: 2.2rem;
}

.about-author-container .about-author-left .flex {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-author-container .about-author-left .flex .about-author-left-img img {
  height: 250px;
}

.about-author-container .about-author-left .flex .about-author-left-details {
  padding-top: 15px;
  padding-left: 20px;
}

.about-author-container .about-author-left .flex .about-author-left-details p {
  font-weight: 600;
}

.about-author-container .about-author-left .flex .about-author-left-details .about-author-left-ratio {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-author-container .about-author-left .flex .about-author-left-details .about-author-left-ratio p {
  padding-top: 20px;
  padding: 0 20px;
}

.about-author-container .about-author-left .flex .about-author-left-details .about-author-left-ratio:first-of-type p {
  padding-left: 0;
}

.about-author-container .about-author-left .flex .about-author-left-details button {
  margin-top: 40px;
  border: 1px solid black;
  border-radius: 0;
  padding: 10px 7px;
}

.about-author-container .about-author-left .flex .about-author-left-details button .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-author-container .about-author-left .flex .about-author-left-details button .button-container .button-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-author-container .about-author-left .flex .about-author-left-details button .button-container .button-img img {
  height: 13px;
}

.about-author-container .about-author-left .flex .about-author-left-details button .button-container .button-text {
  margin-left: 5px;
}

.about-author-container .about-author-right {
  border-left: 1px solid gray;
  padding-left: 70px;
}

.data-sheet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #000;
  padding-top: 50px;
}

.data-sheet-container .data-sheet {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.data-sheet-container .data-sheet .data-sheet-title {
  font-size: 2.2rem;
}

.data-sheet-container .data-sheet .data-sheet-details {
  margin-top: 20px;
}

.data-sheet-container .data-sheet .data-sheet-details ul li {
  font-weight: 600;
  padding-top: 5px;
}

.data-sheet-container .report-container {
  max-width: 250px;
}

.data-sheet-container .report-container .report {
  border: 1px solid black;
  padding: 25px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.data-sheet-container .report-container .report .report-img img {
  height: 48px;
}

.data-sheet-container .report-container .report .report-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 10px;
}

.data-sheet-container .report-container .report .report-description {
  margin-top: 20px;
}

.data-sheet-container .report-container .report .report-description p {
  font-size: 1.7rem;
}

.data-sheet-container .report-container .report button {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 0;
  background-color: gray;
}

.opinions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid gray;
  padding-top: 50px;
  margin-bottom: 75px;
}

.opinions-container .left-container .left-container-title {
  font-size: 2.2rem;
}

.opinions-container .left-container .left-container-ratio {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinions-container .left-container .left-container-ratio .text {
  margin-left: 10px;
  font-size: 1.4rem;
}

.opinions-container .left-container .left-container-total-valorations {
  margin-top: 10px;
  font-size: 1.6rem;
}

.opinions-container .left-container .left-container-stats-stars {
  margin-top: 30px;
}

.opinions-container .left-container .left-container-stats-stars .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.opinions-container .left-container .left-container-stats-stars .stat p {
  min-width: 70px;
  margin-right: 20px;
}

.opinions-container .left-container .left-container-stats-stars .stat .stats-range {
  width: 100px;
  height: 30px;
  border: 1px solid orange;
  background-color: orange;
  margin-right: 20px;
}

.container-search {
  margin-top: 30px;
}

.container-search button {
  width: 400px;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 100px;
  padding: 10px 20px;
  text-align: left;
}

.container-search button .button-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-search button .button-container .button-img {
  width: 30px;
  height: 30px;
  background-color: #ff385c;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-search button .button-container .button-img img {
  height: 14px;
}

.container-search button .button-container .button-text {
  font-size: 1.2rem;
}

.left {
  width: 40%;
  padding-right: 20px;
}

.right {
  width: 60%;
}

.right .map-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.right .report-new {
  margin-top: 5px;
}

.right .report-new img {
  height: 12px;
}

.right .report-new .report-new-text {
  font-size: 1.3rem;
  padding-left: 5px;
}

.right .report-new .report-new-text a {
  padding-left: 5px;
}

.close-libraries-container .close-libraries {
  margin-top: 30px;
}

.library-card-container {
  width: 100%;
}

.library-card-container .library-card {
  border-top: 1px solid #f2f2f2;
  padding: 20px 0;
}

.library-card-container .library-card .library-img img {
  width: 150px;
  height: 100%;
}

.library-card-container .library-card .library-details {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.library-card-container .library-card .library-details img {
  height: 14px;
}

.library-card-container .library-card .library-details .detail {
  font-size: 1.5rem;
}

.library-card-container .library-card .library-details .small-detail {
  font-size: 1.3rem;
  color: gray;
}

.close-libraries-container .library-card-container {
  width: 450px;
}

.close-libraries-container .library-card-container .library-card {
  border-top: 1px solid #f2f2f2;
  padding: 20px 0;
}

.close-libraries-container .library-card-container .library-card .library-img img {
  width: 150px;
  height: 100%;
}

.close-libraries-container .library-card-container .library-card .library-details {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.close-libraries-container .library-card-container .library-card .library-details img {
  height: 14px;
}

.close-libraries-container .library-card-container .library-card .library-details .detail {
  font-size: 1.5rem;
}

.close-libraries-container .library-card-container .library-card .library-details .small-detail {
  font-size: 1.3rem;
  color: gray;
}

.details-checks .check {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details-checks .check .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 11px;
}

.details-checks .check .check-text {
  font-size: 1.5rem;
  padding-left: 5px;
}

.container-profile .profile-container {
  max-width: 1080px;
  padding-right: 24px;
  padding-left: 24px;
  margin: auto;
  min-height: 70vh;
}

.container-profile .profile-container .profile-header {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-profile .profile-container .profile-header .header-img img {
  width: 150px;
  height: 170px;
  border: 1px solid #c1c3c1;
  border-radius: 100%;
}

.container-profile .profile-container .profile-header .header-details {
  margin-left: 1rem;
}

.container-profile .profile-container .profile-header .header-details .details-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-profile .profile-container .profile-header .header-details .details-top .details-name {
  margin-bottom: 1rem;
}

.container-profile .profile-container .profile-header .header-details .details-top .details-name .user-name {
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: capitalize;
}

.container-profile .profile-container .profile-header .header-details .details-top .details-checks {
  margin-left: 2rem;
  margin-top: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-profile .profile-container .profile-header .header-details .details-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-profile .profile-container .profile-header .header-details .details-bottom .details-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-profile .profile-container .profile-header .header-details .details-bottom .details-stats .stats {
  font-weight: 600;
  text-align: center;
}

.container-profile .profile-container .profile-header .header-details .details-bottom .details-stats .stats-divider {
  height: 3rem;
  border: 1px solid gray;
}

.container-profile .profile-container .profile-header .header-details .details-bottom .details-stats .stats,
.container-profile .profile-container .profile-header .header-details .details-bottom .details-stats .stats-divider {
  margin: 1.5rem 2rem 1rem 0;
}

.container-profile .profile-container .profile-header .header-details .details-bottom .details-update {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 1rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-profile .profile-container .profile-header .header-details .details-bottom .details-update p {
  margin-left: 1rem;
}

.container-profile .profile-container .profile-body {
  margin-top: 5rem;
  min-height: 40vh;
}

.container-profile .profile-container .profile-body .body-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-profile .profile-container .profile-body .body-menu .menu-container {
  max-width: 300px;
  min-width: 343.98px;
  padding: 10px 10px;
}

.container-profile .profile-container .profile-body .body-menu .menu-container .menu {
  height: 100%;
  padding: 20px 20px;
  padding-bottom: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 3px #e9ece9;
          box-shadow: 1px 1px 5px 3px #e9ece9;
}

.container-profile .profile-container .profile-body .body-menu .menu-container .menu .menu-img .icon {
  width: 32px;
  height: 32px;
}

.container-profile .profile-container .profile-body .body-menu .menu-container .menu .menu-text {
  color: #3d3e3d;
}

.container-profile .profile-container .profile-body .body-menu .menu-container .menu .menu-text .menu-header .menu-title {
  font-size: 1.9rem;
  letter-spacing: 0.3px;
  font-weight: 700;
  padding: 10px 0;
}

.container-profile .profile-container .profile-body .body-menu .menu-container .menu .menu-text .menu-header .menu-span {
  padding: 14px 0;
  font-size: 1.4rem;
  margin-left: 10px;
  color: red;
}

.container-profile .profile-container .profile-body .body-menu .menu-container .menu .menu-text .menu-desc {
  font-size: 1.7rem;
  letter-spacing: 0.3px;
}

.container-stock {
  margin: auto;
}

.container-stock .stock-container {
  padding: 10px;
  padding-left: 30px;
}

.container-stock .stock-container .stock-title {
  margin-top: 10px;
}

.container-stock .stock-container .stock-form {
  margin-top: 30px;
}

.container-stock .stock-container .stock-form div:first-of-type {
  padding-top: 0;
}

.container-stock .stock-container .stock-form > div {
  padding-top: 20px;
}

.container-stock .stock-container .stock-form .check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-stock .stock-container .stock-form .check-wrap .check-text {
  padding-left: 10px;
  font-size: 1.4rem;
}

.container-stock .stock-container .stock-form .check-wrap .button-container {
  width: 16px;
  height: 16px;
  position: relative;
}

.container-stock .stock-container .stock-form .check-wrap .button-container button {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.container-stock .stock-container .stock-form .check-wrap .button-container img {
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-stock .stock-container .stock-form .stock-input label {
  font-size: 1.4rem;
}

.container-stock .stock-container .stock-form .stock-input input {
  font-size: 1.4rem;
  margin-left: 5px;
  padding-left: 5px;
  width: 50px;
  border-bottom: 1px solid #000;
}

.book-form-container,
.table-stock-container {
  max-width: 1280px;
  margin: auto;
}

.form-container {
  border: 1px solid #000;
  max-width: 1280px;
}

.form-container .form-wrap {
  max-width: 1024px;
  margin: auto;
  padding: 20px;
}

.form-container .form-wrap .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-wrap .form .book-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-wrap .form .book-form .field-image-wrap {
  height: 200px;
  width: 150px;
  background-color: gray;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container .form-wrap .form .book-form .field-image-wrap .image {
  height: 48px;
}

.form-container .form-wrap .form .book-form .field-image-wrap .hidden-input {
  height: 200px;
  width: 150px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-container .form-wrap .form .book-form .field-wrap {
  margin-left: 15px;
}

.form-container .form-wrap .form .book-form .field-wrap .field-label {
  font-weight: 600;
  font-size: 1.4rem;
}

.form-container .form-wrap .form .book-form .field-wrap .field-input {
  padding-top: 10px;
}

.form-container .form-wrap .form .format-buttons-wrap {
  margin-left: 150px;
}

.form-container .form-wrap .form .format-buttons-wrap .format-button button {
  text-align: left;
  width: 150px;
  padding: 10px;
}

.form-container .form-wrap .form .format-buttons-wrap .format-button button.focus {
  background-color: #f2f2f2;
  border-bottom: 1px solid gray;
}

.form-container .form-wrap .form .format-buttons-wrap .format-button button:hover {
  background-color: #f2f2f2;
}

.form-container .form-wrap .form .inputs-container {
  height: 100%;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-container .form-wrap .form .inputs-container .container-stock {
  margin: auto;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container {
  padding: 10px;
  padding-left: 30px;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-title {
  margin-top: 10px;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form {
  margin-top: 30px;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form div:first-of-type {
  padding-top: 0;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form > div {
  padding-top: 20px;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form .check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form .check-wrap .check-text {
  padding-left: 10px;
  font-size: 1.4rem;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form .check-wrap .button-container {
  width: 16px;
  height: 16px;
  position: relative;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form .check-wrap .button-container button {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form .check-wrap .button-container img {
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form .stock-input label {
  font-size: 1.4rem;
}

.form-container .form-wrap .form .inputs-container .container-stock .stock-container .stock-form .stock-input input {
  font-size: 1.4rem;
  margin-left: 5px;
  padding-left: 5px;
  width: 50px;
  border-bottom: 1px solid #000;
}

.form-container .form-wrap .form .inputs-container .book-form-container,
.form-container .form-wrap .form .inputs-container .table-stock-container {
  max-width: 1280px;
  margin: auto;
}

.form-container .form-wrap .form .inputs-container .price-container {
  margin-left: 50px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 50px;
  font-size: 1.5rem;
}

.form-container .form-wrap .form .inputs-container .price-container .price-title {
  margin-top: 10px;
}

.form-container .form-wrap .form .inputs-container .price-container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-wrap .form .inputs-container .price-container .row .row-price {
  padding-left: 10px;
}

.form-container .form-wrap .form .inputs-container .price-container .row .input-row-price {
  margin-left: 10px;
  padding-left: 5px;
  width: 50px;
  border-bottom: 1px solid #000;
}

.form-container .form-wrap .form .inputs-container .price-container .row .actual-price {
  color: #b03a2e;
  font-weight: 600;
  font-size: 1.6rem;
}

.form-container .form-wrap .form .inputs-container .price-container .row .final-price {
  color: #b03a2e;
  font-weight: 600;
  font-size: 1.8rem;
  padding-bottom: 2px;
}

.form-container .form-wrap .form .inputs-container .price-container .price-form {
  margin-top: 30px;
}

.form-container .form-wrap .form .inputs-container .price-container .price-form > div {
  padding-top: 10px;
}

.form-container .form-wrap .form .inputs-container .price-container .price-form div:first-of-type {
  padding-top: 0;
}

.form-container .form-wrap .form .inputs-container .price-container .price-form .check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-wrap .form .inputs-container .price-container .price-form .check-wrap .check-text {
  padding-left: 10px;
  font-size: 1.4rem;
}

.form-container .form-wrap .form .inputs-container .price-container .price-form .check-wrap .button-container {
  width: 16px;
  height: 16px;
  position: relative;
}

.form-container .form-wrap .form .inputs-container .price-container .price-form .check-wrap .button-container button {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.form-container .form-wrap .form .inputs-container .price-container .price-form .check-wrap .button-container img {
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-container .form-wrap .form .inputs-container .price-container .price-result {
  margin-top: 20px;
}

.form-container .form-wrap .form .inputs-container .price-container .price-result > div {
  padding-top: 5px;
}

.form-container .form-wrap .form .inputs-container .price-container .price-result .row .row-result {
  padding-left: 5px;
}

.form-container .form-wrap .form-button {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.form-container .form-wrap .form-button button {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 15px 100px;
}

.stock-table-container {
  margin-top: 50px;
  margin-bottom: 100px;
  max-width: 1280px;
}

.stock-table-container .stock-table-wrap {
  max-width: 1280px;
}

.stock-table-container .stock-table-wrap .table-header {
  font-size: 1.4rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000;
  padding: 5px;
}

.stock-table-container .stock-table-wrap .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stock-table-container .stock-table-wrap .coverpage-column {
  min-width: 75px;
  width: 5%;
}

.stock-table-container .stock-table-wrap .title-column,
.stock-table-container .stock-table-wrap .author-column {
  min-width: 100px;
  width: 12.5%;
}

.stock-table-container .stock-table-wrap .isbn-column {
  min-width: 100px;
  width: 10%;
}

.stock-table-container .stock-table-wrap .book-stock-column,
.stock-table-container .stock-table-wrap .book-price-column {
  min-width: 225px;
  width: 25%;
}

.stock-table-container .stock-table-wrap .book-options-column {
  min-width: 70px;
}

.stock-table-container .stock-table-wrap .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  border: 1px solid #000;
  border-top: none;
  padding: 5px 10px;
}

.stock-table-container .stock-table-wrap .row img {
  height: 75px;
  width: 50px;
}

.stock-table-container .stock-table-wrap .row .book-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stock-table-container .stock-table-wrap .row .book-options button {
  height: 32px;
  width: 32px;
  margin: 0 5px 0 0;
  border: 1px solid #000;
}

.stock-table-container .stock-table-wrap .row .book-options button.edit-option {
  background-color: orange;
}

.stock-table-container .stock-table-wrap .row .book-options button.delete-option {
  background-color: red;
}

.stock-table-container .stock-table-wrap .row .book-options button img {
  height: 20px;
  width: 20px;
}

.stock-table-container .stock-table-wrap .row .book-stock,
.stock-table-container .stock-table-wrap .row .book-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stock-table-container .stock-table-wrap .row .book-stock .cell,
.stock-table-container .stock-table-wrap .row .book-price .cell {
  padding: 0 5px;
  text-align: center;
}

.user-stats-container {
  max-width: 1280px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fav-books-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fav-books-header a {
  font-size: 14px;
}

.left-stats-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 75px;
}

.left-stats-flex .fav-books-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-stats-flex .books-wraps {
  margin-left: 100px;
}

.goals-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goals-container .goal-container {
  padding: 10px;
}

.goals-container .goal-container:first-child {
  padding-left: 0px;
}

.goals-container .goal-container .goal-wrap {
  width: 230px;
  border: 1px solid #000;
  padding: 10px;
}

.goals-container .goal-container .goal-wrap .goal-header {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.goals-container .goal-container .goal-wrap .goal-header .header-text {
  color: #387bfd;
}

.goals-container .goal-container .goal-wrap .goal-body {
  text-align: center;
  margin-top: 10px;
}

.goals-container .goal-container .goal-wrap .goal-body .goal-text,
.goals-container .goal-container .goal-wrap .goal-body .goal-progress,
.goals-container .goal-container .goal-wrap .goal-body .goal-year {
  padding: 5px 0;
}

.goals-container .goal-container .goal-wrap .goal-body .goal-text {
  font-size: 24px;
  font-weight: 600;
}

.goals-container .goal-container .goal-wrap .goal-body .goal-progress .progress-component img {
  height: 86px;
}

.goals-container .goal-container .goal-wrap .goal-body .goal-year {
  font-size: 1.4rem;
  color: gray;
}

.fav-category-container {
  padding-top: 10px;
}

.fav-category-container .fav-category-wrap .fav-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.fav-category-container .fav-category-wrap .fav-category .img,
.fav-category-container .fav-category-wrap .fav-category .progress,
.fav-category-container .fav-category-wrap .fav-category .average {
  padding: 0 5px;
}

.fav-category-container .fav-category-wrap .fav-category .img {
  height: 35px;
  width: 35px;
  border: 1px solid #000;
  border-radius: 30px;
}

.fav-book-container {
  padding: 10px;
}

.fav-book-container:first-child {
  padding-left: 0;
}

.fav-book-container .fav-book-wrap .fav-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fav-book-container .fav-book-wrap .fav-book .book-img {
  width: 40px;
  height: 60px;
  border: 1px solid #000;
}

.fav-book-container .fav-book-wrap .fav-book .book-details {
  margin-left: 5px;
}

.fav-book-container .fav-book-wrap .fav-book .book-details .book-title {
  font-size: 16px;
}

.fav-book-container .fav-book-wrap .fav-book .book-details .book-category {
  font-size: 14px;
}

.ranking-wrap .ranking-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ranking-wrap .ranking .rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  padding-top: 10px;
}

.ranking-wrap .ranking .rank .rank-img {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.ranking-wrap .ranking .rank:first-child {
  padding-left: 0;
}

.ranking-wrap .ranking .rank .rank-number,
.ranking-wrap .ranking .rank .rank-img,
.ranking-wrap .ranking .rank .rank-name,
.ranking-wrap .ranking .rank .rank-books {
  padding: 5px;
}

.activity-wrap {
  margin-top: 75px;
}

.activity-wrap .activity-year .read-books,
.activity-wrap .activity-year .actual-rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  font-size: 16px;
}

.personal-info-container {
  max-width: 1080px;
  margin: auto;
}

.personal-info-container .personal-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.personal-info-nav-container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}

.personal-info-nav-container .nav .nav-item {
  width: 300px;
  box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
  -webkit-box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
  -moz-box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
  padding: 10px;
  cursor: pointer;
}

.personal-info-nav-container .nav .nav-item:hover {
  border: 2px solid rgba(227, 227, 227, 0.66);
}

.personal-info-nav-container .nav .nav-item .nav-text {
  font-size: 18px;
  font-weight: 600;
}

.personal-info-nav-container .nav .nav-item .nav-desc {
  font-size: 14px;
}

.form-container {
  border: none;
}

.form-container .form-header {
  padding: 20px;
  background-color: #fff;
  box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
  -webkit-box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
  -moz-box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-header .form-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container .form-header .form-header-left .form-img img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
}

.form-container .form-header .form-header-left .form-name {
  margin-left: 10px;
}

.form-container .form-header .form-header-left .form-name .name {
  font-size: 18px;
  font-weight: 600;
}

.form-container .form-header .form-header-left .form-name .rol {
  font-size: 14px;
}

.form-container .form-wrapper {
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
  -webkit-box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
  -moz-box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
}

.form-container .form-wrapper .form-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.form-container .form-wrapper label {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5px;
  color: #494848;
}

.form-container .form-wrapper .form-name,
.form-container .form-wrapper .form-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-container .form-wrapper .form-name input,
.form-container .form-wrapper .form-address input {
  width: 270px !important;
}

.form-container .form-wrapper .container-input {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-container .form-wrapper .container-input input {
  width: 100%;
  height: 40px;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  padding-left: 15px;
  font-weight: 600;
}

.form-container .form-wrapper .save-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  background-color: #387bfd;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.form-container .form-wrapper small {
  font-weight: 600;
}

.icon {
  height: 20px;
}

.icon-big {
  height: 32px;
}

.icon-medium {
  width: 16px;
}

.icon-small {
  height: 13px;
}

.icon-vsmall {
  height: 12px;
}

.icon-important {
  height: 48px;
}

.icon-property {
  height: 75px;
}

.pl-2 {
  padding-left: 2px;
}

.pl-5 {
  padding-left: 5px;
}

.button {
  width: 200px;
  margin-top: 40px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 25px;
  font-weight: 600;
  line-height: 24px;
  font-size: 1.4rem;
}

.container-fw {
  width: 100%;
}

.container {
  max-width: 1620px;
  margin: auto;
  padding: 0 48px;
}

.container-mt100 {
  margin-top: 100px;
}

.container-mt50 {
  margin-top: 50px;
}

.container-mb50 {
  margin-bottom: 50px;
}

.container-mt {
  margin-top: 0;
  /*CONTENEDOR PARA CANDO SEXA NECESARIO MODIFICAR O MT*/
}

.container-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-flex-ac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-flex-jc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-divider {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.container-is-divided {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-n1 {
  font-size: 3.2rem;
}

.title-n2 {
  font-size: 2.5rem;
}

.title-n3 {
  font-size: 2.3rem;
}

.title-n4 {
  font-size: 2rem;
}

.title-n5 {
  font-size: 1.8rem;
}

.title-n6 {
  font-size: 1.6rem;
}

.card-title {
  font-size: 1.9rem;
}

.fw-bold {
  font-weight: bold;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.upp {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100vw !important;
  font-family: "Source Sans Pro", sans-serif;
  margin: auto;
}

ul {
  list-style: none;
  font-size: 1.6rem;
}

a:hover,
button:hover,
.icon-interactive {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

.field-wrap .field-wrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.field-wrap .field-wrap-flex .field {
  width: 100%;
  margin-right: 50px;
}

.field-wrap .field-wrap-flex .field:last-child {
  margin-right: 0;
}

.field-wrap .field {
  margin: 5px 0;
}

.field-wrap .field .field-label {
  font-size: 1.3rem;
  letter-spacing: 0.45px;
  margin-bottom: 0;
  position: absolute;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: translate(0, 16px) scale(1);
          transform: translate(0, 16px) scale(1);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  padding-left: 10px;
  /*color: rgba(49, 49, 49, 0.5);*/
  color: black;
  /*text-transform: uppercase;*/
}

.field-wrap .field .field-input {
  font-size: 1.4rem;
  height: 30px;
  width: 100%;
  -webkit-appearance: none;
  background: transparent !important;
  border: none;
  border-bottom: 1px solid gray;
  color: black;
  padding-left: 10px;
  margin: 16px 0;
  outline: 0;
}

.field-wrap .field .invalid-input {
  border-bottom: 1px solid red;
}

.field-wrap .field .valid-input {
  border-bottom: 1px solid #0bf00b;
}

.field-wrap .field .error {
  position: absolute;
  font-size: 13px;
  line-height: 15px;
  color: red;
  margin-top: -13px;
  padding-left: 10px;
  pointer-events: none;
  width: 80%;
}

.field-wrap .field .field-input:hover {
  border-bottom: 1px solid black;
}

.field-wrap .field .field-input:focus {
  outline: 0;
  border-bottom: 1px solid black;
}

.field-wrap .field.field-mb1.float-container.active label {
  -webkit-transform: translate(0, 4px) scale(1);
          transform: translate(0, 4px) scale(1);
}
/*# sourceMappingURL=main.css.map */