.user-stats-container {
  max-width: 1280px !important;
  display: flex;
  justify-content: space-between;
}

.fav-books-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    font-size: 14px;
  }
}

.left-stats-flex {
  display: flex;
  margin-top: 75px;

  .fav-books-wrap {
    display: flex;
  }

  .books-wraps {
    margin-left: 100px;
  }
}
