.about-author-container {
  width: 100%;
  display: flex;
  align-items: center;

  .about-author-left {
    padding-right: 70px;

    .about-author-left-title {
      font-size: 2.2rem;
    }

    .flex {
      padding-top: 20px;
      display: flex;

      .about-author-left-img {
        img {
          height: 250px;
        }
      }

      .about-author-left-details {
        padding-top: 15px;
        padding-left: 20px;

        p {
          font-weight: 600;
        }

        .about-author-left-ratio {
          padding-top: 10px;
          display: flex;

          p {
            padding-top: 20px;
            padding: 0 20px;
          }

          &:first-of-type p {
            padding-left: 0;
          }
        }

        button {
          margin-top: 40px;
          border: 1px solid black;
          border-radius: 0;
          padding: 10px 7px;

          .button-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .button-img {
              display: flex;

              img {
                height: 13px;
              }
            }
            .button-text {
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  .about-author-right {
    border-left: 1px solid gray;
    padding-left: 70px;
  }
}
