.book-container {
  max-width: 1480px;
  padding-right: 24px;
  padding-left: 24px;
  margin: auto;
  min-height: 70vh;

  .book {
    display: flex;

    .book-left {
      .book-img {
        width: 225px;
        height: 325px;
      }

      .author-follow {
        margin-top: 100px;
        display: flex;

        .author-img {
          width: 100px;
          height: 100px;
          border-radius: 100%;
        }

        .author-actions {
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p {
            font-weight: 600;
          }

          button {
            width: 100px;
            border: 1px solid black;
            border-radius: 0;
            margin-top: 10px;
            padding: 5px;
          }
        }
      }
    }

    .book-details {
      max-width: 850px;
      margin: 0 50px;
      flex: 2;

      .details-header {
        display: flex;
        justify-content: space-between;

        .book-title {
          font-size: 2.5rem;
          text-transform: uppercase;
          font-weight: 600;
        }
      }

      .book-author {
        font-size: 1.8rem;
        text-transform: uppercase;
      }

      .book-type-container {
        margin-top: 20px;
        border-top: 1px solid gray;
        max-width: 75%;
        display: flex;

        .book-type {
          width: 33.3333%;
          padding: 5px 10px;
          margin-top: 30px;
          margin-right: 10px;
          border: 1px solid black;
          border-radius: 3px;
          cursor: pointer;

          p {
            font-size: 1.5rem;
          }

          .type-price {
            color: gray;
            letter-spacing: 0.3px;
          }
        }
      }

      .summary {
        max-width: 75%;
        margin-top: 50px;

        .summary-title {
          font-size: 1.6rem;
          font-weight: 600;
          margin-bottom: 10px;
        }
      }
    }

    .book-actions {
      border-left: 1px solid gray;
      padding-left: 20px;

      .book-price {
        font-size: 2.5rem;
        font-weight: 600;
      }

      .book-library {
        margin-top: 30px;
        .book-library-label {
          font-weight: 600;
        }

        .book-library-container {
          margin-top: 15px;
          .book-library-flex {
            display: flex;
            .book-library-img {
              img {
                margin-top: 5px;
                width: 75px;
                height: 75px;
              }
            }

            .book-library-details {
              .book-library-name {
                font-size: 1.8rem;
                font-weight: 600;
              }

              .library-details-address {
                .first-address {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
