.opinions-container {
  display: flex;
  border-top: 1px solid gray;
  padding-top: 50px;
  margin-bottom: 75px;

  .left-container {
    .left-container-title {
      font-size: 2.2rem;
    }

    .left-container-ratio {
      margin-top: 20px;
      display: flex;
      align-items: center;

      .stars {
      }

      .text {
        margin-left: 10px;
        font-size: 1.4rem;
      }
    }

    .left-container-total-valorations {
      margin-top: 10px;
      font-size: 1.6rem;
    }

    .left-container-stats-stars {
      margin-top: 30px;

      .stat {
        display: flex;
        align-items: center;
        padding-top: 10px;

        p {
          min-width: 70px;
          margin-right: 20px;
        }

        .stats-range {
          width: 100px;
          height: 30px;
          border: 1px solid orange;
          background-color: orange;
          margin-right: 20px;
        }
      }
    }
  }

  .right-container {
  }
}
