// LOGOS
.icon {
  height: 20px;
}

.icon-big {
  height: 32px;
}

.icon-medium {
  width: 16px;
}

.icon-small {
  height: 13px;
}

.icon-vsmall {
  height: 12px;
}

.icon-important {
  height: 48px;
}

.icon-property {
  height: 75px;
}

// PADDING
.pl-2 {
  padding-left: 2px;
}

.pl-5 {
  padding-left: 5px;
}

// BUTTON
.button {
  width: 200px;
  margin-top: 40px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 25px;
  font-weight: 600;
  line-height: 24px;
  font-size: 1.4rem;
}
