.title-n1 {
  font-size: 3.2rem; // MARCA
}

.title-n2 {
  font-size: 2.5rem; // HOME PAGE TITLES
}

.title-n3 {
  font-size: 2.3rem;
}

.title-n4 {
  font-size: 2rem; // PAGE TITLES
}

.title-n5 {
  font-size: 1.8rem; // ITEM TITLES
}

.title-n6 {
  font-size: 1.6rem; // SECONDARY ITEM TITLES
}

.card-title {
  font-size: 1.9rem; // PROFILE CARDS TITLES
}

// FONT WEIGHT

.fw-bold {
  font-weight: bold;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

// TEXT TRANSFORM

.upp {
  text-transform: uppercase;
}

.cap {
  text-transform: capitalize;
}
