.personal-info-nav-container {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

    .nav-item {
      width: 300px;
      box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
      -webkit-box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
      -moz-box-shadow: 4px 3px 4px 1px rgba(227, 227, 227, 0.66);
      padding: 10px;
      cursor: pointer;

      &:hover {
        border: 2px solid rgba(227, 227, 227, 0.66);
      }

      .nav-text {
        font-size: 18px;
        font-weight: 600;
      }

      .nav-desc {
        font-size: 14px;
      }
    }
  }
}
