.container-fw.local {
  border-top: 1px solid gray;

  .local-container {
    .local-destacable-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 50px 0;

      .local-destacable {
        text-align: center;

        .destacable-img {
          img {
            height: 75px;
          }
        }
        .destacable-text {
          font-weight: 600;
        }
      }
    }
  }
}
