.auth-container {
  max-width: 1080px;
  padding: 0 24px;
  display: flex;
  margin: auto;

  .auth-img-container,
  .main-auth-form {
    width: 580px;
    height: 500px;
  }

  .auth-img-container {
    .auth-img {
      width: 400px;
      height: 100%;
    }
  }

  .auth-form {
    margin-left: 50px;

    .main-auth-form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .auth-form-header {
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.3px;
        text-align: center;
      }
    }

    .auth-buttons {
      button {
        width: 100%;
        border: 2px solid gray;
        border-radius: 10px;
        margin-top: 10px;
        padding: 10px 15px;

        &:hover {
          border: 2px solid black;
        }

        .button-container {
          display: flex;
          align-items: center;

          .button-img {
            display: flex;

            img {
              height: 20px;
            }
          }

          .button-text {
            flex: 1 1 0% !important;
          }
        }
      }
    }
  }
  .auth-texts {
    margin-top: 20px;
    .text {
      margin-top: 10px;
      display: flex;

      .text-bold {
        font-size: 1.6rem;
        margin-left: 5px;
        font-weight: 600;
      }
    }
  }
}
